@font-face {
    font-family: Grotesque-Bold;
    src: url(./Fontes/DarkerGrotesque-Bold.ttf);
}

@font-face {
    font-family: Grotesque-Regular;
    src: url(./Fontes/DarkerGrotesque-Regular.ttf);
}

html, body {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #85CDF5;
    width: 100%;
    height: 130px;
}

header > a {
    font-size: 30px;
    font-weight: 700;
    line-height: 15px;
    font-family: Grotesque-Bold;
    font-style: normal;
    text-decoration: none;
    color: black;
}

header > a:hover {
    cursor: pointer;
}

.underline_animation::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #110000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.underline_animation:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

footer {
    display: flex;
    align-items: center;
    background-color: #333333;
    justify-content: space-around;
    width: 100%;
    height: 270px;
    gap: 50px;
}

.contato > iframe {
    width: 250px;
    height: 168px;
}

.contato {
    display: flex;
    gap: 30px;
}

.contato_layer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato_layer > p {
    font-size: 18px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    color: white;
    width: 346px;
    line-height: 15px;
    text-align: start;
}

#endereco::before {
    content: url("./Imagens/endereco.svg");
    padding: 5px;
}

#numero::before {
    content: url("./Imagens/telefone.svg");
    padding: 5px;
}

#email::before {
    content: url("./Imagens/email.svg");
    padding: 5px;
}

.contato_layer > a {
    text-decoration: none;
    width: 144px;
    height: 30px;
}

.contato_layer > a > button {
    background: #DEB959;
    width: 144px;
    height: 30px;
    border: none;
    font-size: 25px;
    font-weight: 700;
    font-family: Grotesque-Bold;
    display: flex;
    line-height: 20px;
    color: #353535;
    justify-content: center;
    cursor: pointer;
}

.footer_right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_right > label {
    font-size: 18px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    color: white;
}

.addlobinho{
    width: 80%;
    height: 180%;

}
.container-addLobinho {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;

    border: 1px solid black;

}

label{
    font-family: Grotesque-Regular;
    font-size: 25px;
}

.titulo{
    font-size: 48px;
    font-family: Grotesque-Regular;
    align-self: center;
}

.caixa{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 50px;

}

input{
    background-color: #E6E6E6;
}

.nomeLobinho{
    width: 220%;
    height: 40%;
}

.anosLobinho{
    width: 100%;
    height: 40%;
    
}
.linkLob{
    width: 100%;

    font-size: 18px;
    margin-bottom: 10px;

}

.descricao{
    width: 100%;
    height: 230px;
    font-size: 30px;
    margin-bottom: 20px;

}

.botao-enviar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
    height: 7%;
    background-color: #2C5680;
    font-size: 15px;
    color: #FFFFFF;
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 10%;
}
