@font-face {
    font-family: Grotesque-Bold;
    src: url(./Fontes/DarkerGrotesque-Bold.ttf);
}

@font-face {
    font-family: Grotesque-Regular;
    src: url(./Fontes/DarkerGrotesque-Regular.ttf);
}

html, body {
    width: 100%;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #85CDF5;
    width: 100%;
    height: 130px;
}

header > a {
    font-size: 30px;
    font-weight: 700;
    line-height: 15px;
    font-family: Grotesque-Bold;
    font-style: normal;
    text-decoration: none;
    color: black;
}

header > a:hover {
    cursor: pointer;
}


.underline_animation::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #110000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.underline_animation:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}

@media only screen and (max-width: 768px) {
    header {
        justify-content: none;
        gap: 30px;
    }
    header > a {
        line-height: 25px;
        text-align: center;
    }
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-image: url(./Imagens/background-lobo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.slogan > h1 {
    font-size: 120px;
    font-weight: 700;
    font-family: Grotesque-Bold;
    color: white;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px #110000;
    user-select: none;
}

.slogan > div {
    width: 10em;
    height: 0.25em;
    background-color: white;
    position: absolute;
    margin-top: 50px;
}

.slogan > p {
    font-size: 40px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    color: white;
    width: 90vw;
    text-align: center;
    text-shadow: 1.5px 1.5px #110000bd;
    user-select: none;
}

@media only screen and (max-width: 768px) {
    .slogan > p {
        margin-bottom: 40px;
    }
}

.sobre {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: #2C5680;
    width: 100%;
    padding: 75px 0px;
}

.sobre > h2 {
    font-size: 80px;
    font-weight: 700;
    font-family: Grotesque-Bold;
    color: #DEB959;
    width: 200px;
    text-align: center;
    user-select: none;
}

.sobre > p {
    font-size: 34px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    color: white;
    width: 99vw;
    text-align: center;
    line-height: 33px;
    user-select: none;
}

.valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    width: 100%;
    padding-bottom: 100px;
}

.valores > h2 {
    font-size: 80px;
    font-weight: 700;
    font-family: Grotesque-Bold;
    color: #DEB959;
    width: 250px;
    margin: 50px 0px;
    text-align: center;
    user-select: none;
}

.valores_layer {
    display: flex;
    padding: auto;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.card_valores {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    gap: 50px;
}

.card_valores > img {
    background-color: white;
    border-radius: 50%;
    width: 190px;
    height: 190px;
    object-fit: scale-down;
}

.card_valores > h3 {
    font-size: 35px;
    font-weight: 700;
    font-family: Grotesque-Bold;
    color: white;
    width: 100%;
    text-align: center;
    user-select: none;
}

.card_valores > p {
    font-size: 26px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 20px;
    user-select: none;
}

@media only screen and (max-width: 768px) {
    .valores_layer {
        flex-direction: column;
        align-items: center;
    }

    .card_valores {
        width: 50vw;
    }

    .valores_layer {
        gap: 50px;
    }
}

.lobosexemplo {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding: 50px 0px;
}

.lobosexemplo > h2 {
    font-size: 80px;
    font-weight: 700;
    font-family: Grotesque-Bold;
    color: #DEB959;
    margin: 25px 0px;
    text-align: center;
}

.card_lobo {
    display: flex;
    gap: 30px;
}

.lobo_imagem {
    display: flex;
    min-width: 28rem;
    min-height: 21rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#left_card > .lobo_imagem {
    box-shadow: -35px -35px #2C5680, -35px -35px 0px 4px #000;
}

#right_card > .lobo_imagem {
    box-shadow: 35px -35px #2C5680, 35px -35px 0px 4px #000;
}

.dados_lobo {
    display: flex;
    flex-direction: column;
}

#left_card > .dados_lobo > h3 {
    font-size: 35px;
    font-weight: 700;
    font-family: Grotesque-Bold;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
}

#left_card > .dados_lobo > h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    width: 100%;
    margin-bottom: 25px;
    user-select: none;
}

#left_card > .dados_lobo > p {
    font-size: 26px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    width: 100%;
    max-width: 450px;
    user-select: none;

}

#right_card > .dados_lobo > h3 {
    font-size: 35px;
    font-weight: 700;
    font-family: Grotesque-Bold;
    width: 100%;
    text-align: end;
    margin-bottom: 10px;
    cursor: pointer;
}

#right_card > .dados_lobo > h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    width: 100%;
    text-align: end;
    margin-bottom: 25px;
    user-select: none;
}

#right_card > .dados_lobo > p {
    font-size: 26px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    width: 100%;
    max-width: 450px;
    text-align: end;
    user-select: none;

}

@media only screen and (max-width: 768px) {
    .lobo_imagem {
        box-shadow: -15px -15px #2C5680, -15px -15px 0px 4px #000;
        min-width: 15rem;
        min-height: 15rem;
        margin: 30px;
    }
    .card_lobo {
        flex-direction: column;
    }
    #left_card {
        padding: 20px
    }
    #right_card {
        gap: 75px;
        padding: 20px
    }

    #left_card > .lobo_imagem {
        box-shadow: -10px -15px #2C5680, -10px -15px 0px 4px #000;
    }
    
    #right_card > .lobo_imagem {
        box-shadow: 10px -15px #2C5680, 10px -15px 0px 4px #000;
    }
}

.rgb_line {
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg, #134dbb 0%, #cc6f4b 100%);
}

footer {
    display: flex;
    align-items: center;
    background-color: #333333;
    justify-content: space-around;
    width: 100%;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        gap: 20px;
    }
    .contato {
        flex-direction: column;
        padding: 20px;
    }
}


.contato > iframe {
    width: 15em;
    height: 168px;
}

.contato {
    display: flex;
    gap: 30px;
    padding: 0;
}

.contato_layer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato_layer > p {
    font-size: 18px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    color: white;
    width: 346px;
    line-height: 15px;
    text-align: start;
    user-select: none;
}

#endereco::before {
    content: url("./Imagens/endereco.svg");
    padding: 5px;
}

#numero::before {
    content: url("./Imagens/telefone.svg");
    padding: 5px;
}

#email::before {
    content: url("./Imagens/email.svg");
    padding: 5px;
}

.contato_layer > a {
    text-decoration: none;
    width: 144px;
    height: 30px;
}

.contato_layer > a > button {
    background: #DEB959;
    width: 144px;
    height: 30px;
    border: none;
    font-size: 25px;
    font-weight: 700;
    font-family: Grotesque-Bold;
    display: flex;
    line-height: 20px;
    color: #353535;
    justify-content: center;
    cursor: pointer;
}

.footer_right {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_right > label {
    font-size: 18px;
    font-weight: 400;
    font-family: Grotesque-Regular;
    color: white;
}
